@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {

    *{
        @apply text-gray-800;
    }

   



    [type='text'],
          [type='url'],
          [type='password'],
          [type='number'],
          [type='date'],
          [type='datetime-local'],
          [type='month'],
          [type='search'],
          [type='tel'],
          [type='time'],
          [type='week'],
          [multiple],
          textarea,
          select {
              @apply placeholder-gray-500 border-gray-300 px-5 rounded-full shadow-sm focus:ring-brand focus:border-brand focus:outline-none focus:ring-2 focus:ring-offset-2  
          }

          a {
              @apply font-bold text-brand  hover:text-brand-secondary dark:text-gray-300
          }
    .btn {
        @apply  px-6 py-3 text-base font-medium border border-transparent rounded-full md:text-lg dark:text-gray-300;
    }

    .btn-primary {
        @apply bg-brand text-white hover:bg-brand-dark hover:text-white
    }

     .btn-secondary {
        @apply bg-brand-secondary text-white  hover:bg-brand-secondary-dark hover:text-white 
    }
}



@layer components {

    
h1, h2, h3, h4, h5, h6, p, .dark-mode-text{
         @apply dark:text-white;

    }
    .dark-mode-bg{
        @apply dark:bg-gray-900;
    } 

     .dark-mode-bg-light {
        @apply dark:bg-gray-800;
    } 

   
}